<ion-split-pane when="sm" contentId="main-content">
  <ion-menu contentId="main-content">
    <ion-row class="user-menu-card">
      <ion-col size="12" size-sm="3">
        <img src="{{avatar}}" class="custom-avatar" />
      </ion-col>
      <ion-col size="12" size-sm="9">
        <h2>{{userName}}</h2>
        <h3>{{userEmail}}</h3>
      </ion-col>
    </ion-row>

    <ion-content>
      <app-siderbar></app-siderbar>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <app-header></app-header>
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-split-pane>
