<ion-list>
  <ion-menu-toggle [autoHide]="false" *ngFor="let menu of menus">
    <ion-item
      button
      (click)="navtigateToPage(menu.route)"
      *ngIf="menu.access.indexOf(userRole) != -1"
    >
      <ion-icon slot="start" [name]="menu.icon"></ion-icon>
      <ion-label> {{ menu.title }} </ion-label>
    </ion-item>
  </ion-menu-toggle>
  <ion-menu-toggle [autoHide]="false">
    <ion-item button (click)="logout()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label> Logout </ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-list>
