<ion-content class="ion-padding">
  <ion-grid class="m-t-4">
    <app-breadcrumb [menus]="menus"></app-breadcrumb>
    <ion-row>
      <ion-col>
        <form
          [formGroup]="reviewForm"
          class="user-review"
          (ngSubmit)="submitReview()"
        >
          <h2>Please select colleague and give your feedback</h2>
          <ion-row>
            <ion-col size-md="4">
              <div class="form-floating">
                <select
                  class="form-select"
                  id="floatingSelect"
                  aria-label="Floating label select example"
                  formControlName="user_id"
                >
                  <option value="{{user.uuid}}" *ngFor="let user of users">
                    {{user.name}}
                  </option>
                </select>
                <label for="floatingSelect" class="required"
                  >Select Colleague</label
                >
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="m-t-2 m-b-2" formArrayName="review">
            <ion-col
              class="form-star-input"
              size="12"
              *ngFor="let question of questions; let index = index"
              formGroupName="{{index}}"
            >
              <label class="form-label" [class.required]="question.isRequired"
                >{{question.label}}</label
              >
              <ion-input
                *ngIf="question.type=='TEXT'"
                formControlName="{{question.name}}"
              ></ion-input>
              <ion-textarea
                *ngIf="question.type=='TEXTAREA'"
                formControlName="{{question.name}}"
              ></ion-textarea>
              <ion-radio-group
                value="custom-checked"
                *ngIf="question.type=='RADIO'"
                formControlName="{{question.name}}"
              >
                <ion-item
                  class="custom-radio-btn"
                  *ngFor="let option of question.options;"
                  lines="none"
                >
                  <ion-radio value="{{option.value}}"></ion-radio>
                  <ion-label class="pd-left-1">{{option.label}}</ion-label>
                </ion-item>
              </ion-radio-group>
              <app-star-rating
                *ngIf="question.type=='STAR'"
                [name]="question.name"
                [inputForm]="reviewForm.get('review').at(index)"
              ></app-star-rating>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" size-sm="3"
              ><ion-button expand="full" type="submit" [disabled]="loading"
                >Submit</ion-button
              >
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
